In [3]:
using Pkg
Pkg.add("CSV")

  Updating registry at `C:\Users\ciard\.juliapro\JuliaPro_v1.0.5-2\registries\JuliaPro`
  Updating git-repo `https://pkg.juliacomputing.com/registry/JuliaPro`
 Resolving package versions...
 Installed DataAPI ───────────────────── v1.1.0
 Installed TableTraits ───────────────── v1.0.0
 Installed DataValueInterfaces ───────── v1.0.0
 Installed IteratorInterfaceExtensions ─ v1.0.0
 Installed PooledArrays ──────────────── v0.5.3
 Installed WeakRefStrings ────────────── v0.6.2
 Installed SortingAlgorithms ─────────── v0.3.1
 Installed InvertedIndices ───────────── v1.0.0
 Installed FilePathsBase ─────────────── v0.7.0
 Installed Missings ──────────────────── v0.4.3
 Installed Tables ────────────────────── v1.0.2
 Installed CategoricalArrays ─────────── v0.7.7
 Installed CSV ───────────────────────── v0.5.26
 Installed DataFrames ────────────────── v0.20.2
  Updating `C:\Users\ciard\.juliapro\JuliaPro_v1.0.5-2\environments\v1.0\Project.toml`
  [336ed68f] + CSV v0.5.26
  Updating `C:\Users\ciard\.juliapro\JuliaPro_v1.0.5-2\environments\v1.0\Manifest.toml`
  [336ed68f] + CSV v0.5.26
  [324d7699] + CategoricalArrays v0.7.7
  [9a962f9c] + DataAPI v1.1.0
  [a93c6f00] + DataFrames v0.20.2
  [e2d170a0] + DataValueInterfaces v1.0.0
  [48062228] + FilePathsBase v0.7.0
  [41ab1584] + InvertedIndices v1.0.0
  [82899510] + IteratorInterfaceExtensions v1.0.0
  [e1d29d7a] + Missings v0.4.3
  [2dfb63ee] + PooledArrays v0.5.3
  [a2af1166] + SortingAlgorithms v0.3.1
  [3783bdb8] + TableTraits v1.0.0
  [bd369af6] + Tables v1.0.2
  [ea10d353] + WeakRefStrings v0.6.2
  [9fa8497b] + Future

In [5]:
using CSV
df = CSV.read("degrees-that-pay-back.csv")

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1192

50×8 DataFrames.DataFrame. Omitted printing of 6 columns
│ Row │ Undergraduate Major   │ Starting Median Salary │
│     │ String                │ String                 │
├─────┼───────────────────────┼────────────────────────┤
│ 1   │ Accounting            │ $46,000.00             │
│ 2   │ Aerospace Engineering │ $57,700.00             │
│ 3   │ Agriculture           │ $42,600.00             │
│ 4   │ Anthropology          │ $36,800.00             │
│ 5   │ Architecture          │ $41,600.00             │
│ 6   │ Art History           │ $35,800.00             │
│ 7   │ Biology               │ $38,800.00             │
│ 8   │ Business Management   │ $43,000.00             │
│ 9   │ Chemical Engineering  │ $63,200.00             │
│ 10  │ Chemistry             │ $42,600.00             │
⋮
│ 40  │ Music                 │ $35,900.00             │
│ 41  │ Nursing               │ $54,200.00             │
│ 42  │ Nutrition             │ $39,900.00             │
│ 43  │ Philosophy            │ $39,900.00             │
│ 44  │ Physician Assistant   │ $74,300.00             │
│ 45  │ Physics               │ $50,300.00             │
│ 46  │ Political Science     │ $40,800.00             │
│ 47  │ Psychology            │ $35,900.00             │
│ 48  │ Religion              │ $34,100.00             │
│ 49  │ Sociology             │ $36,500.00             │
│ 50  │ Spanish               │ $34,000.00             │

In [7]:
Pkg.add("DataFrames")

 Resolving package versions...
  Updating `C:\Users\ciard\.juliapro\JuliaPro_v1.0.5-2\environments\v1.0\Project.toml`
  [a93c6f00] + DataFrames v0.20.2
  Updating `C:\Users\ciard\.juliapro\JuliaPro_v1.0.5-2\environments\v1.0\Manifest.toml`
 [no changes]

In [44]:
using DataFrames
stripChar = (s, r) -> replace(s, Regex("[$r]") => "")

#9 (generic function with 1 method)

In [64]:
names(df)

8-element Array{Symbol,1}:
 Symbol("Undergraduate Major")
 Symbol("Starting Median Salary")
 Symbol("Mid-Career Median Salary")
 Symbol("Percent change from Starting to Mid-Career Salary")
 Symbol("Mid-Career 10th Percentile Salary")
 Symbol("Mid-Career 25th Percentile Salary")
 Symbol("Mid-Career 75th Percentile Salary")
 Symbol("Mid-Career 90th Percentile Salary")

In [81]:
start_med = parse.(Float64, stripChar.(df[:, 2], "\$,"))
percent_change = df[:, 4]
mid_med_10 = parse.(Float64, stripChar.(df[:, 5], "\$,"))
mid_med_25 = parse.(Float64, stripChar.(df[:, 6], "\$,")) .- mid_med_10
mid_med = parse.(Float64, stripChar.(df[:, 3], "\$,")) .- mid_med_25 .- mid_med_10
mid_med_75 = parse.(Float64, stripChar.(df[:, 7], "\$,")) .- mid_med .- mid_med_25 .- mid_med_10
mid_med_90 = parse.(Float64, stripChar.(df[:, 8], "\$,")) .- mid_med_75 .- mid_med .- mid_med_25 .- mid_med_10

50-element Array{Float64,1}:
 44000.0
 34000.0
 53700.0
 48700.0
 39000.0
 37600.0
 40500.0
 45000.0
 51000.0
 40000.0
 33000.0
 44200.0
 27000.0
     ⋮
 43000.0
 46000.0
 17400.0
 28700.0
 41000.0
 16000.0
 46000.0
 54000.0
 39500.0
 25500.0
 36800.0
 19600.0

In [87]:
major_df = DataFrame(Dict("Major" => df[:, 1], "Starting Median Salary"=>start_med, "Mid-Career 10th Percentile"=>mid_med_10, "Mid-Career 25th Percentile"=>mid_med_25, "Mid-Career 50th Percentile"=>mid_med, "Mid-Career 75th Percentile"=>mid_med_75, "Mid-Career 90th Percentile"=>mid_med_90))

50×7 DataFrame. Omitted printing of 5 columns
│ Row │ Major                 │ Mid-Career 10th Percentile │
│     │ String                │ Float64                    │
├─────┼───────────────────────┼────────────────────────────┤
│ 1   │ Accounting            │ 42200.0                    │
│ 2   │ Aerospace Engineering │ 64300.0                    │
│ 3   │ Agriculture           │ 36300.0                    │
│ 4   │ Anthropology          │ 33800.0                    │
│ 5   │ Architecture          │ 50600.0                    │
│ 6   │ Art History           │ 28800.0                    │
│ 7   │ Biology               │ 36900.0                    │
│ 8   │ Business Management   │ 38800.0                    │
│ 9   │ Chemical Engineering  │ 71900.0                    │
│ 10  │ Chemistry             │ 45300.0                    │
⋮
│ 40  │ Music                 │ 26700.0                    │
│ 41  │ Nursing               │ 47600.0                    │
│ 42  │ Nutrition             │ 33900.0                    │
│ 43  │ Philosophy            │ 35500.0                    │
│ 44  │ Physician Assistant   │ 66400.0                    │
│ 45  │ Physics               │ 56000.0                    │
│ 46  │ Political Science     │ 41200.0                    │
│ 47  │ Psychology            │ 31600.0                    │
│ 48  │ Religion              │ 29700.0                    │
│ 49  │ Sociology             │ 30700.0                    │
│ 50  │ Spanish               │ 31000.0                    │

In [89]:
names(major_df)

7-element Array{Symbol,1}:
 :Major
 Symbol("Mid-Career 10th Percentile")
 Symbol("Mid-Career 25th Percentile")
 Symbol("Mid-Career 50th Percentile")
 Symbol("Mid-Career 75th Percentile")
 Symbol("Mid-Career 90th Percentile")
 Symbol("Starting Median Salary")

In [88]:
CSV.write("degrees.csv", major_df)

"degrees.csv"