In [2]:
using CSV
df = CSV.read("master_data.csv")

321×15 DataFrames.DataFrame. Omitted printing of 12 columns
│ Row │ School Name                                   │ State  │ Longitude │
│     │ String                                        │ String │ Float64   │
├─────┼───────────────────────────────────────────────┼────────┼───────────┤
│ 1   │ Adelphi University                            │ NY     │ -73.6533  │
│ 2   │ American University, Washington D.C.          │ DC     │ -77.0889  │
│ 3   │ Amherst College                               │ MA     │ -72.5185  │
│ 4   │ Appalachian State University                  │ NC     │ -81.6775  │
│ 5   │ Arizona State University (ASU)                │ AZ     │ -111.928  │
│ 6   │ Arkansas State University (ASU)               │ AR     │ -90.6796  │
│ 7   │ Auburn University                             │ AL     │ -85.4924  │
│ 8   │ Austin Peay State University                  │ TN     │ -87.3541  │
│ 9   │ Ball State University (BSU)                   │ IN     │ -85.4088  │
│ 10  │ Bates College                                 │ ME     │ -70.2033  │
⋮
│ 311 │ Wesleyan University (Middletown, Connecticut) │ CT     │ -72.6568  │
│ 312 │ West Virginia University (WVU)                │ WV     │ -79.9539  │
│ 313 │ Western Carolina University                   │ NC     │ -83.1846  │
│ 314 │ Western Michigan University (WMU)             │ MI     │ -85.6135  │
│ 315 │ Western Washington University                 │ WA     │ -122.485  │
│ 316 │ Whitman College                               │ WA     │ -118.33   │
│ 317 │ Widener University                            │ PA     │ -75.3552  │
│ 318 │ Williams College                              │ MA     │ -73.2031  │
│ 319 │ Wittenberg University                         │ OH     │ -83.8139  │
│ 320 │ Worcester Polytechnic Institute (WPI)         │ MA     │ -71.8098  │
│ 321 │ Yale University                               │ CT     │ -72.9225  │

In [4]:
names(df)

15-element Array{Symbol,1}:
 Symbol("School Name")
 :State
 :Longitude
 :Latitude
 Symbol("Starting Median Salary")
 Symbol("Mid-Career Median Salary")
 Symbol("Mid-Career 10th Percentile Salary")
 Symbol("Mid-Career 25th Percentile Salary")
 Symbol("Mid-Career 75th Percentile Salary")
 Symbol("Mid-Career 90th Percentile Salary")
 Symbol("1st")
 Symbol("2nd")
 Symbol("3rd")
 Symbol("4th")
 Symbol("5th")

In [40]:
stripChar = (s, r) -> replace(s, Regex("[$r]") => "")

#3 (generic function with 1 method)

In [45]:
using DataFrames
states = Dict()
for i = 1:nrow(df)
    if df[i, 2] in keys(states)
        states[df[i,2]][1] += parse(Float64, stripChar(df[i, 6], "\$,"))
        states[df[i,2]][2] += 1
    else
        states[df[i,2]] = [parse(Float64, stripChar(df[i, 6], "\$,")), 1]
    end
end

In [64]:
means = Dict()
for key in keys(states)
    means[key] = states[key][1] / states[key][2]
end

Dict{Any,Any} with 51 entries:
  "DC" => 95125.0
  "NH" => 106150.0
  "UT" => 74820.0
  "WV" => 78100.0
  "NY" => 88450.0
  "MN" => 83350.0
  "GA" => 89400.0
  "LA" => 86633.3
  "TX" => 80461.5
  "MS" => 73133.3
  "IL" => 88330.0
  "IA" => 81700.0
  "NM" => 84833.3
  "OK" => 79150.0
  "RI" => 88800.0
  "NJ" => 97433.3
  "KS" => 72933.3
  "ID" => 74966.7
  "OH" => 77354.5
  "HI" => 76000.0
  "MA" => 94626.3
  "VT" => 88450.0
  "MT" => 66666.7
  "MI" => 74483.3
  "MO" => 73916.7
  ⋮    => ⋮

In [86]:
abbr = [i[1] for i in collect(means)]
mean_vals = [i[2] for i in collect(means)]
data = [abbr, mean_vals]

2-element Array{Array{T,1} where T,1}:
 ["DC", "NH", "UT", "WV", "NY", "MN", "GA", "LA", "TX", "MS"  …  "AL", "AK", "CO", "WI", "TN", "WA", "CT", "VA", "PA", "OR"]
 [95125.0, 106150.0, 74820.0, 78100.0, 88450.0, 83350.0, 89400.0, 86633.3, 80461.5, 73133.3  …  79725.0, 72600.0, 84571.4, 72466.7, 70985.7, 77844.4, 91233.3, 86350.0, 91205.0, 77260.0]

In [103]:
means_df = DataFrame(data) 
rename!(means_df, :x1 => Symbol("State"))
rename!(means_df, :x2 => Symbol("Mean"))
means_df

51×2 DataFrame
│ Row │ State  │ Mean     │
│     │ String │ Float64  │
├─────┼────────┼──────────┤
│ 1   │ DC     │ 95125.0  │
│ 2   │ NH     │ 106150.0 │
│ 3   │ UT     │ 74820.0  │
│ 4   │ WV     │ 78100.0  │
│ 5   │ NY     │ 88450.0  │
│ 6   │ MN     │ 83350.0  │
│ 7   │ GA     │ 89400.0  │
│ 8   │ LA     │ 86633.3  │
│ 9   │ TX     │ 80461.5  │
│ 10  │ MS     │ 73133.3  │
⋮
│ 41  │ MD     │ 86400.0  │
│ 42  │ AL     │ 79725.0  │
│ 43  │ AK     │ 72600.0  │
│ 44  │ CO     │ 84571.4  │
│ 45  │ WI     │ 72466.7  │
│ 46  │ TN     │ 70985.7  │
│ 47  │ WA     │ 77844.4  │
│ 48  │ CT     │ 91233.3  │
│ 49  │ VA     │ 86350.0  │
│ 50  │ PA     │ 91205.0  │
│ 51  │ OR     │ 77260.0  │

In [104]:
CSV.write("state_means.csv", means_df)

"state_means.csv"

In [ ]:
Pkg.add("JSON")

  Updating registry at `C:\Users\ciard\.juliapro\JuliaPro_v1.0.5-2\registries\JuliaPro`