In [1]:
using CSV
using DataFrames
using Statistics

df = readtable("Data/salaries-by-region.csv", nastrings=["N/A"],eltypes=[String, String, Float64, Float64, Float64, Float64, Float64, Float64])

┌ Warning: readtable is deprecated, use CSV.read from the CSV package instead
│   caller = ip:0x0
└ @ Core :-1

320×8 DataFrame. Omitted printing of 6 columns
│ Row │ School_Name                                     │ Region       │
│     │ Union{Missing, String}                          │ String⍰      │
├─────┼─────────────────────────────────────────────────┼──────────────┤
│ 1   │ Stanford University                             │ California   │
│ 2   │ California Institute of Technology (CIT)        │ California   │
│ 3   │ Harvey Mudd College                             │ California   │
│ 4   │ University of California, Berkeley              │ California   │
│ 5   │ Occidental College                              │ California   │
│ 6   │ Cal Poly San Luis Obispo                        │ California   │
│ 7   │ University of California at Los Angeles (UCLA)  │ California   │
│ 8   │ University of California, San Diego (UCSD)      │ California   │
│ 9   │ Pomona College                                  │ California   │
│ 10  │ University of Southern California (USC)         │ California   │
⋮
│ 310 │ Moravian College                                │ Northeastern │
│ 311 │ Penn State - Harrisburg                         │ Northeastern │
│ 312 │ Suffolk University                              │ Northeastern │
│ 313 │ Fitchburg State College                         │ Northeastern │
│ 314 │ Roger Williams University                       │ Northeastern │
│ 315 │ University Of Maine                             │ Northeastern │
│ 316 │ State University of New York (SUNY) at Potsdam  │ Northeastern │
│ 317 │ Niagara University                              │ Northeastern │
│ 318 │ State University of New York (SUNY) at Fredonia │ Northeastern │
│ 319 │ University of Southern Maine                    │ Northeastern │
│ 320 │ Mercy College                                   │ Northeastern │

In [2]:
groups = groupby(df, :Region)
regions = Dict()
for i = 1:length(groups)
    regions[groups[i][1,2]] = [mean(skipmissing(groups[i][:, 3])), 
                            mean(skipmissing(groups[i][:, 4])), 
                            mean(skipmissing(groups[i][:, 5])), 
                            mean(skipmissing(groups[i][:, 6])), 
                            mean(skipmissing(groups[i][:, 7])), 
                            mean(skipmissing(groups[i][:, 8]))]
end

In [3]:
region = [i[1] for i in collect(regions)]
mean_vals = [i[2] for i in collect(regions)]
sms = [i[1] for i in mean_vals]
mc_50 = [i[2] for i in mean_vals]
mc_10 = [i[3] for i in mean_vals]
mc_25 = [i[4] for i in mean_vals]
mc_75 = [i[5] for i in mean_vals]
mc_90 = [i[6] for i in mean_vals]
data = [region, sms, mc_50, mc_10, mc_25, mc_75, mc_90]

7-element Array{Array{T,1} where T,1}:
 ["Southern", "Northeastern", "Midwestern", "California", "Western"]
 [44521.5, 48496.0, 44225.4, 51032.1, 44414.3]
 [79505.1, 91352.0, 78180.3, 93132.1, 78200.0]
 [43074.6, 49101.2, 43076.6, 47777.3, 42985.3]
 [57506.3, 65479.0, 57026.8, 67153.6, 56581.0]
 [109662.0, 129576.0, 1.07594e5, 127350.0, 1.06026e5]
 [152769.0, 1.81927e5, 1.47689e5, 1.67909e5, 1.43824e5]

In [4]:
means_df = DataFrame(data)
rename!(means_df, :x1 => Symbol("region"))
rename!(means_df, :x2 => Symbol("sms"))
rename!(means_df, :x3 => Symbol("mc_50"))
rename!(means_df, :x4 => Symbol("mc_10"))
rename!(means_df, :x5 => Symbol("mc_25"))
rename!(means_df, :x6 => Symbol("mc_75"))
rename!(means_df, :x7 => Symbol("mc_90"))

5×7 DataFrame. Omitted printing of 1 columns
│ Row │ region       │ sms     │ mc_50   │ mc_10   │ mc_25   │ mc_75     │
│     │ String       │ Float64 │ Float64 │ Float64 │ Float64 │ Float64   │
├─────┼──────────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
│ 1   │ Southern     │ 44521.5 │ 79505.1 │ 43074.6 │ 57506.3 │ 109662.0  │
│ 2   │ Northeastern │ 48496.0 │ 91352.0 │ 49101.2 │ 65479.0 │ 129576.0  │
│ 3   │ Midwestern   │ 44225.4 │ 78180.3 │ 43076.6 │ 57026.8 │ 1.07594e5 │
│ 4   │ California   │ 51032.1 │ 93132.1 │ 47777.3 │ 67153.6 │ 127350.0  │
│ 5   │ Western      │ 44414.3 │ 78200.0 │ 42985.3 │ 56581.0 │ 1.06026e5 │

In [5]:
CSV.write("Data/region_means.csv", means_df)

"Data/region_means.csv"