In [2]:
using CSV
using DataFrames
using Statistics

df = readtable("Data/salaries-by-college-type.csv", nastrings=["N/A"],eltypes=[String, String, Float64, Float64, Float64, Float64, Float64, Float64])

269×8 DataFrame. Omitted printing of 6 columns
│ Row │ School_Name                                  │ School_Type │
│     │ Union{Missing, String}                       │ String⍰     │
├─────┼──────────────────────────────────────────────┼─────────────┤
│ 1   │ Massachusetts Institute of Technology (MIT)  │ Engineering │
│ 2   │ California Institute of Technology (CIT)     │ Engineering │
│ 3   │ Harvey Mudd College                          │ Engineering │
│ 4   │ Polytechnic University of New York, Brooklyn │ Engineering │
│ 5   │ Cooper Union                                 │ Engineering │
│ 6   │ Worcester Polytechnic Institute (WPI)        │ Engineering │
│ 7   │ Carnegie Mellon University (CMU)             │ Engineering │
│ 8   │ Rensselaer Polytechnic Institute (RPI)       │ Engineering │
│ 9   │ Georgia Institute of Technology              │ Engineering │
│ 10  │ Colorado School of Mines                     │ Engineering │
⋮
│ 259 │ University of Southern Maine                 │ State       │
│ 260 │ Arkansas State University (ASU)              │ State       │
│ 261 │ Kent State University                        │ State       │
│ 262 │ Tarleton State University (TSU)              │ State       │
│ 263 │ University of Wisconsin (UW) - Green Bay     │ State       │
│ 264 │ Morehead State University                    │ State       │
│ 265 │ Austin Peay State University                 │ State       │
│ 266 │ Pittsburg State University                   │ State       │
│ 267 │ Southern Utah University                     │ State       │
│ 268 │ Montana State University - Billings          │ State       │
│ 269 │ Black Hills State University                 │ State       │

In [3]:
groups = groupby(df, :School_Type)
types = Dict()
for i = 1:length(groups)
    types[groups[i][1,2]] = [mean(skipmissing(groups[i][:, 3])), 
                            mean(skipmissing(groups[i][:, 4])), 
                            mean(skipmissing(groups[i][:, 5])), 
                            mean(skipmissing(groups[i][:, 6])), 
                            mean(skipmissing(groups[i][:, 7])), 
                            mean(skipmissing(groups[i][:, 8]))]
end

In [4]:
school_type = [i[1] for i in collect(types)]
mean_vals = [i[2] for i in collect(types)]
sms = [i[1] for i in mean_vals]
mc_50 = [i[2] for i in mean_vals]
mc_10 = [i[3] for i in mean_vals]
mc_25 = [i[4] for i in mean_vals]
mc_75 = [i[5] for i in mean_vals]
mc_90 = [i[6] for i in mean_vals]
data = [school_type, sms, mc_50, mc_10, mc_25, mc_75, mc_90]

7-element Array{Array{T,1} where T,1}:
 ["Engineering", "Liberal Arts", "Party", "Ivy League", "State"]
 [59057.9, 45746.8, 45715.0, 60475.0, 44126.3]
 [1.03842e5, 89378.7, 84685.0, 120125.0, 78567.4]
 [61793.3, 47478.6, 44052.6, 57900.0, 41886.3]
 [81384.2, 61936.2, 60005.0, 82787.5, 56689.7]
 [1.34868e5, 1.31077e5, 118100.0, 184125.0, 1.06971e5]
 [1.73333e5, 1.91143e5, 1.66947e5, 269625.0, 1.47571e5]

In [5]:
means_df = DataFrame(data)
rename!(means_df, :x1 => Symbol("school_type"))
rename!(means_df, :x2 => Symbol("sms"))
rename!(means_df, :x3 => Symbol("mc_50"))
rename!(means_df, :x4 => Symbol("mc_10"))
rename!(means_df, :x5 => Symbol("mc_25"))
rename!(means_df, :x6 => Symbol("mc_75"))
rename!(means_df, :x7 => Symbol("mc_90"))

5×7 DataFrame. Omitted printing of 1 columns
│ Row │ school_type  │ sms     │ mc_50     │ mc_10   │ mc_25   │ mc_75     │
│     │ String       │ Float64 │ Float64   │ Float64 │ Float64 │ Float64   │
├─────┼──────────────┼─────────┼───────────┼─────────┼─────────┼───────────┤
│ 1   │ Engineering  │ 59057.9 │ 1.03842e5 │ 61793.3 │ 81384.2 │ 1.34868e5 │
│ 2   │ Liberal Arts │ 45746.8 │ 89378.7   │ 47478.6 │ 61936.2 │ 1.31077e5 │
│ 3   │ Party        │ 45715.0 │ 84685.0   │ 44052.6 │ 60005.0 │ 118100.0  │
│ 4   │ Ivy League   │ 60475.0 │ 120125.0  │ 57900.0 │ 82787.5 │ 184125.0  │
│ 5   │ State        │ 44126.3 │ 78567.4   │ 41886.3 │ 56689.7 │ 1.06971e5 │

In [6]:
CSV.write("Data/type_means.csv", means_df)

"Data/type_means.csv"